@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll PRO */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #4f46e5;
    border-radius: 10px;
}

/* Animaciones suaves */
* {
    transition: all 0.2s ease;
}